@font-face {
	font-family: 'Permian Slab';
	src: url('../fonts/PermianSlabSerifTypeface.ttf');
	font-weight: normal;
	font-style: normal;
}
body {
  color: #5D6165;
  font-size: 16px;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
}
.wrapper {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}


/******** MAIN THINGS *********/
a {
  text-decoration: none;
  color: #5D6165;
  cursor: pointer;
}
h1, h2, h3,
h4, h5, h6,
.text-large {
    font-family: 'Permian Slab', serif;
}
h1 {
  font-size: 2.1rem;
  padding-bottom: 0.2rem;
}
h2, .text-large {
  font-size: 1.7rem;
	font-weight: bold;
}
.btn-action, .form-group input,
.textarea-msg {
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #fafbfc;
  border: 2px solid #364F6B;
  border-radius: 5px;
  color: #364F6B;
  padding: 1.1em 2.1em;
  outline: 0;
}
ul {
	list-style-position: inside;
	list-style-type: disc;
}
li {
  padding-bottom: 1em;
}
section, .footer {
  padding: 7em 0 5em;
}
.double-cols {
  width: 50%;
}
.mobile-menu {
  display: none;
}
.small {
  width: 15% !important;
}
.text-center {
  text-align: center;
}
em {
  font-weight: 700;
  font-style: normal;
}
.upper {
  text-transform: uppercase;
}
.ta-right {
  text-align: right;
}

/* PSEUDOCLASSES */
.btn-action:active, input:focus, .textarea-msg:focus {
  border: 2px solid #ab726f;
  box-shadow: 1px 2px 5px 0px rgba(171, 114, 111, 0.8);
}
a:hover {
  border-bottom: 2px solid #364F6B;
}
a:visited {
  color: #3f5374;
}


/******** NAV *********/
.index-header, .using {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.index-header {
  min-height: 100vh;
  background: url('../img/courthouse.jpg');
  background-attachment: fixed;
}
.etc-header {
  background-color: #ebeef3;
  padding: 6em 0;
  box-shadow: inset 0px 2px 5px -1px rgba(32,32,34,0.9);
}
.main-nav, .mobile-menu {
  background-color: rgba(255,255,255, .9);
  box-shadow: 0px 2px 5px 0px rgba(32,32,34,1);
  z-index: 8;
}
.main-nav {
	font-weight: 600;
}
.nav-links {
  margin: 0;
  display: flex;
  flex-direction: row;
  padding: 1.4rem 0;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
	list-style-type: none;
}
.nav-links li {
  padding-bottom: 0;
}


/****************DROPDOWN MENU***********/
.dropdown-refs {
    font-size: 0.8em;
    display: none;
    background-color: rgba(255,255,255, 1);
    min-width: 160px;
    position: absolute;
    z-index: 13;
    border: 3px solid #274b69;
    box-shadow: 0px 2px 5px 0px rgba(32,32,34,1);
}
.dropdown-refs ul {
	list-style-type: none;
}
.dropdown-refs li {
    padding: 1.2rem;
    border-bottom: 2px solid #274b69;
}
.dropdown-refs li:last-child {
  border-bottom: 0;
}
.dropdown:hover .dropdown-refs {
    display: block;
}


/*************** HEADING ***************/
.heading {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.index-heading-card {
  margin-top: 6rem;
}
.card {
  background-color: rgba(255,255,255,0.95);
  box-shadow: 0px 2px 5px 0px rgba(32,32,34,1);
}
.logo-container {
  width: 40%;
  min-width: 200px;
  color: #364F6B;
  position: relative;
}
.logo-container img {
  width: 100%;
  min-width: 290px;
}
.sub-logo img {
  width: 200px;
  min-width: 100px;
}
.logo-container span {
  position: relative;
  top: -130px;
}
.service-block {
  width: 60%;
  padding: 2rem 1em 1.5em;
  font-size: 1.2rem;
}


/******** MAIN *********/
.main-content {
  padding: 1rem 4rem;
}


/**************** GOALS SEC **************/
.about-community {
  text-align: center;
}
.goals-row,
.dbl-col-container {
  display: flex;
  justify-content: space-between;
}
.goal-circle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  background-color: #364F6B;
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  color: #fff;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.goal {
  width: 33.33%;
  padding: 3.5em 2em;
  font-size: 1.1rem;
}


/******* USING MIDATION *******/
.using {
  background-image: url('../img/justicewoman.jpg')
}
.card-on-img {
  font-size: 1.1rem;
  padding: 2rem;
  width: 70%;
  margin-left: auto;
	margin-right: auto;
}


/* ADVANTAGES */
.mediation-advantages {
  box-shadow: 0px 2px 5px 0px rgba(32,32,34,1);
}
.mediation-advantages h2 {
  padding-bottom: 1em;
}
.advantages-container {
  display: flex;
  justify-content: space-between;
}
.advantages-list {
  padding-right: 1em;
  font-size: 1.1rem;
}
.form-group {
  float: right;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.form-group input, .textarea-msg {
  resize: none;
  text-transform: none;
  line-height: 1.2;
  margin-bottom: 1em;
  font-size: 1rem;
}
.btn-msg-form {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 1.4em 2.1em;
}


/***** FOOTER *****/
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-links ul,
.mobile-menu-list ul {
	list-style-type: none;
}
.footer li {
  margin-bottom: 1em;
}


/**** NAWS PAGE ****/
.news-block img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/***** BILLS PAGE *****/
.dbl-col-container {
  text-align: justify;
  padding: 3rem 0 2rem;
}
.first {
  padding-top: 0;
}
.top-space {
  padding-top: 2rem;
}
.left-col {
  padding-right: 1rem;
}
.right-col {
  padding-left: 1rem;
}
.table {
	padding: 0 3rem 3rem;
}
.edu {
	padding: 4rem 0 3rem;
}

/******CONTACTS PAGE******/
.pic-space {
	width: 25%;
	margin-right: 2rem;
}
.pic-space img {
	width: 100%;
	padding-top: 1.7em;
}
.contact-space {
	width: 70%;
}
.contact-item {
	padding: 1rem 0 1rem;
}
.show-details {
	display: inline-block;
}
.show-details .about-person {
	display: none;
}
.show-details:hover .about-person {
	display: block;
}
.show-more {
	font-size: 0.8rem;
	background-color: #fafbfc;
	border: 2px solid #364F6B;
	border-radius: 5px;
	color: #364F6B;
	padding: 1.1em 2.1em;
	outline: 0;
}
.mobile-menu .mobile-menu-list {
	display: none;
}
