body {
  color: #5D6165;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
.wrapper {
  width: 85%;
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
}



/******** MAIN THINGS *********/
a {
  text-decoration: none;
  color: #5D6165;
}
h1 {
  font-size: 2.1em;
  padding-bottom: 0.2em;
}
h2 {
  font-size: 1.7em;
}
.btn-action, .form-group input,
.textarea-msg {
  font-size: 0.7em;
  text-transform: uppercase;
  background-color: #fafbfc;
  border: 2px solid #364F6B;
  border-radius: 5px;
  color: #364F6B;
  padding: 1em 2em;
  outline: 0;
}
.about-community, .using, .mediation-advantages, .footer {
  padding: 7em 0 5em;
}
.width50 {
  width: 50%;
}
.mobile-menu {
  display: none;
}



/* PSEUDOCLASSES */
.btn-action:active, input:focus, .textarea-msg:focus {
  border: 2px solid #ab726f;
}
a:hover {
  border-bottom: 2px solid #364F6B;
}


/******** NAV *********/
.inbox-header, .using {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.inbox-header {
  height: 100vh;
  background: url('../img/courthouse.jpg');
}
.main-nav, .mobile-menu {
  font-weight: 600;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0px 2px 5px 0px rgba(32,32,34,1);
}
.nav-links {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  padding: 1.4rem 0;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}



/*************** HEADING ************8*/
.heading {
  max-height: 70vh;
  margin-top: 5rem;
  padding: 2rem 1rem;
  width: 70%;
  min-width: 850px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}
.card {
  background-color: rgba(255,255,255,0.95);
  box-shadow: 0px 2px 5px 0px rgba(32,32,34,1);
}
.logo-container {
  padding-left: 4em;
  width: 50%;
  min-width: 250px;
  color: #364F6B;
  text-align: center;
  position: relative;
}
.logo-container img {
  width: 100%;
}
.logo-container span {
  position: relative;
  top: -130px;
}
.service-block {
  width: 50%;
  padding: 2em 1.5em 2.4em;
  font-size: 1.2em;
}
.services-list, .using-list, .advantages-list {
  list-style-type: disc;
  list-style-position: inside;
}



/**************** GOALS SEC **************/
.about-community {
  text-align: center;
}
.goals-row {
  display: flex;
  justify-content: space-between;
}
.goal-circle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  background-color: #364F6B;
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  color: #fff;
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.goal {
  width: 33.33%;
  padding: 3.5em 2em;
  font-size: 1.1em;
}



/******* USING MIDATION *******/
.using {
  background-image: url('../img/justicewoman.jpg')
}
.card-on-img {
  font-size: 1.1em;
  padding: 2rem;
  width: 60%;
  margin-left: auto;
}
.card-on-img li, .advantages-list li {
  padding-bottom: 1em;
}



/* ADVANTAGES */
.mediation-advantages {
  box-shadow: 0px 2px 5px 0px rgba(32,32,34,1);
}
.mediation-advantages h2 {
  padding-bottom: 1em;
}
.advantages-container {
  display: flex;
  justify-content: space-between;
}
.advantages-list {
  padding-right: 1em;
}
.form-group {
  float: right;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.form-group input, .textarea-msg {
  resize: none;
  text-transform: none;
  line-height: 1.2;
  margin-bottom: 1em;
  font-size: 1em;
}
.btn-msg-form {
  font-size: 0.9em;
  font-weight: 600;
  padding: 1.4em 2.1em;
}


/***** FOOTER *****/
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer li {
  margin-bottom: 1em;
}
